<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Author:</mat-card-title>
        <mat-card-subtitle>You are going to delete this author:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="data.author.firstname" disabled="true">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="data.author.lastname" disabled="true">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
    </mat-card-actions>
</mat-card>
