<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Book:</mat-card-title>
        <mat-card-subtitle>Please edit Book's properties:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Author</mat-label>
            <mat-select [(ngModel)]="data.book.author">
                <mat-option *ngFor="let author of data.allAuthors" [value]="author">
                  {{author.fullname}}
                </mat-option>
            </mat-select>            
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.book.title">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Release Year</mat-label>
            <input matInput [(ngModel)]="data.book.releaseYear" type="number">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="data.book.description">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.book" cdkFocusInitial>Save</button>
    </mat-card-actions>
</mat-card>
